<!-- todo not mobile responsive -->
<div style="min-width: 500px;" >

<alb-contact-list
  [contacts]="contacts"
  *ngIf="listpage"
  (newContact)="listpage=false"
  (editContact)="handleEdit($event)"
  (removeContact)="handleRemove($event)"
  (selectContact)="handleSelect($event)"
  [mat-dialog-close]="selectedContact"
  ></alb-contact-list>
<alb-contact-form
  *ngIf="!listpage"
  (undo)="listpage=true;this.selectedContact=null"
  (addcontact)="handleNewContact($event)"
  [template]="selectedContact"
  ></alb-contact-form>
</div>
