<mat-card-header>
Appuntamento presso {{bankSelected?.name}}
</mat-card-header>


<form [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
<!-- todo change to modal -->
<mat-form-field
  style="width: 100%;"
>
  <input
    matInput
    [matDatepickerFilter]="dateFilter"
    [matDatepicker]="picker"
    formControlName="day"
    placeholder="Scegli un giorno"
    >
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
  ></mat-datepicker>

</mat-form-field>

<ng-container *ngIf="form.value.day != ''" >

<mat-card-header>
{{form.value.day | date}}
</mat-card-header>

  <mat-selection-list [multiple]="false"
    formControlName="time"
    (selectionChange)="openDialog()"
    >
    <mat-list-option
      *ngFor="let t of timeFilter(form.value.day)"
      [value]="t"
      >
      <!-- <button type="button" (click)="openDialog()" > -->
      <mat-icon matListIcon>timer</mat-icon>
      <div matLine> {{t}} </div>
      <!-- </button> -->
    </mat-list-option>
  </mat-selection-list>
</ng-container>

</form>

<hr>



<pre *ngIf="form.value.day != ''">
  {{form.value | json}}
</pre>
