<mat-drawer-container
  style="height: 100%;"
  >

  <mat-drawer-content>
    <alb-address-selector
      [banks]="banks"
      (bankSelected)="onSelected($event)"
    ></alb-address-selector>
      <!-- (bankSelected)="drawer.open()" -->
  </mat-drawer-content>

  <mat-drawer
    #drawer
    style="width: 30%;"
    [position]="'end'">
    <alb-date-selector
      [bankSelected]="bankSelected"
    >
      <!-- (selectedTime)="onSelectedTime($event)" -->
    </alb-date-selector>
  </mat-drawer>

</mat-drawer-container>
