
<mat-card class="alb-form">
  <!-- #f="ngForm" -->
  <form
    class="alb-flex"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    >
    <div class="alb-textfield">
      <!-- <mat-icon>account_circle</mat-icon> -->
          <!-- required
          ngModel -->
      <mat-form-field >
        <input
          matInput
          email="true"
          name="email"
          formControlName="email"
          placeholder="Email">
      </mat-form-field>
    </div>

    <div class="alb-textfield">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <mat-form-field >
        <input
          matInput
          name="name"
          formControlName="name"
          placeholder="Name">
      </mat-form-field>
    </div>


    <div class="alb-textfield">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <mat-form-field >
        <input
          matInput
          name="surname"
          formControlName="surname"
          placeholder="Surname" >
      </mat-form-field>
    </div>

      <!-- doppio campo psw -->
      <!-- <mat-icon>lock</mat-icon> -->
      <mat-form-field  class="alb-textfield">
        <input
          matInput
          [type]="pswVisible ? 'text' : 'password'"
          name="pass1"
          formControlName="pass1"
          placeholder="Password">
      <mat-icon matSuffix (click)="pswVisible = !pswVisible">{{pswVisible ? 'visibility_on' : 'visibility_off'}}</mat-icon>
      <mat-error
        *ngIf="registerForm.errors"
        >
        {{2*2}}
      </mat-error>
      </mat-form-field>
      <!-- <mat-icon>lock</mat-icon> -->
      <mat-form-field  class="alb-textfield">
        <input
          matInput
          [type]="pswVisible ? 'text' : 'password'"
          name="pass2"
          [formControlName]="'pass2'"
          placeholder="Repeat Password"
          >
      <mat-icon matSuffix (click)="pswVisible = !pswVisible">{{pswVisible ? 'visibility_on' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <!-- TODO PSW MUST MATCH -->
      <!-- TODO MINIMAL PSWD REQUIREMENTS -->
    <button
        mat-raised-button
        color="primary"
        type="submit">Registrati</button>
        <!-- [disabled]="registerForm.invalid" -->
      <p>
        <a
          href="#"
          (click)="changeStatus.emit()"
          color="primary"
          >Già registrato? Accedi
          <!-- class="alb-link" -->
      </a>
      </p>

  </form>

</mat-card>

