<mat-form-field
  style="width:100%;"
  >
  <mat-select placeholder="Choose a card"
    (valueChange)="onSelectCard($event)"
    >
  <mat-option
    value="ALL" >
    ALL
  </mat-option>
  <mat-option
    *ngFor="let card of cards"
    [value]="card._id"
    >
    {{card.type | titlecase}} - {{card.number | cardify}}
  </mat-option>
  </mat-select>

</mat-form-field>

<mat-card-header *ngIf="cardSelect!=null">
    Carta intestata a
    {{cardSelect.name | titlecase}}
    {{cardSelect.surname | titlecase}}
    <!-- {{cardSelect | json}} -->
</mat-card-header>

<mat-accordion>
  <alb-movement *ngFor="let mov of movementsDisp.slice(0,rowDisp)"
  [dateLong]="mov.timestamp | date:'yyyy-mm-dd HH:MM:ss'"
  [dateShort]="mov.timestamp | date:'dd/mm/yyyy'"
  [title]="mov.title"
  [description]="mov.description"
  [amount]="mov.amount"
  [cardId]="mov.cardId"
  [type]="mov.type"
  >
  </alb-movement>


  <button mat-button
    *ngIf="rowDisp < rowLimit"
    style="width: 100%;"
    (click)="onMore()">
    load more
  </button>

</mat-accordion>

<hr>
