<!-- {{cardSelect}} -->
<mat-form-field>
  <mat-select placeholder="Choose a card"
    (valueChange)="onSelectCard($event)"
    >
    <!-- (openedChange)="onSelectCard($event)"
    (selectionChange)="onSelectCard($event)" -->
    <!-- [(value)]="cardSelect" -->
  <mat-option
    value="ALL" >
    ALL
  </mat-option>
  <mat-option
    *ngFor="let card of cards"
    [value]="card._id"
    >
    {{card.type}} - {{card.number}}
  </mat-option>
  </mat-select>

</mat-form-field>
<mat-accordion>

  <alb-movement *ngFor="let mov of movementsDisp.slice(0,rowDisp)"
  [dateLong]="mov.timestamp | date:'yyyy-mm-dd HH:MM:ss'"
  [dateShort]="mov.timestamp | date:'dd/mm/yyyy'"
  [title]="mov.title"
  [description]="mov.description"
  [amount]="mov.amount"
  [cardId]="mov.cardId"
  [type]="mov.type"
  >
  <!-- [mov]="mov" -->
  </alb-movement>


  <button mat-button
  *ngIf="rowDisp < movementsDisp.length"
  style="width: 100%;"
  (click)="onMore()">
    load more

  </button>

</mat-accordion>

<hr>
