<mat-drawer-container style="height: 100%;">
  <!-- style="min-height: 35%;" -->
  <!-- style="height: 50%;" -->

  <mat-drawer-content>
    <alb-card-list [cards]="cards" (aggiungi)="drawer.open()" (cancella)="handleDelete($event)"></alb-card-list>
  </mat-drawer-content>


  <mat-drawer #drawer [mode]="'side'" [position]="'end'" style="width: 50%;">
    <alb-card-form (formData)="handleNewCard($event);drawer.close()"
      (annullaForm)="drawer.close();openSnackBar('Annullamento','OK')"></alb-card-form>
  </mat-drawer>

</mat-drawer-container>


<pre>
  {{cards | json}}
</pre>
