<mat-card
style="margin: auto;"
>
  <mat-card-header>Aggiungi Carta</mat-card-header>
  <br>
  <mat-card-content>

<form
    class="alb-flex"
    [formGroup]="cardForm"
    (ngSubmit)="onSubmit()"
  >
<!-- todo missing form control anche qui -->
<mat-form-field
  id="cardForm"
  >
  <!-- style="flex-grow: 1;" -->

    <!-- [hideRequiredMarker]="true" -->
    <!-- [formControl]="typeControl" -->
    <!-- [errorStateMatcher]="matcher" -->
  <mat-select
    placeholder="Card Type"
    formControlName="type"
    name="type" >
    <mat-option>--</mat-option>
    <mat-option *ngFor="let card of cardTypes" [value]="card">
      {{card | titlecase}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="!cardForm?.value.type">Please select a card type</mat-error>
</mat-form-field>
  <div style="display:flex;
              flex-direction:row;
              ">
  <mat-form-field style="flex-grow: 1;">
    <input
    matInput
    formControlName="name"
    name="name"
    required
    minlength="1"
    placeholder="Name" >
  </mat-form-field>
  <mat-form-field style="flex-grow: 1;">
    <input
    matInput
    formControlName="surname"
    name="surname"
    required
    minlength="1"
    placeholder="Surname" >
    <br>
  </mat-form-field>
  </div>
  <div style="display:flex; flex-direction:row; ">
  <mat-form-field style="flex-grow: 40;">
      <!-- [ngModel]="cardnumber" -->
    <input
      matInput
      formControlName="number"
      required minlength="16" maxlength="16"
      name="cardnumber"
      placeholder="Card Number"
      >
      <!-- todo error mgmt -->
    <mat-error *ngIf="true">
      Please insert 16 digits</mat-error>
  </mat-form-field>
  <span></span>
  <mat-form-field style="flex-grow: 1;">
    <input
    matInput
    formControlName="csc"
    name="csc"
    required minlength="3" maxlength="3"
    placeholder="Numero di Sicurezza"
    >
  <!-- todo error mgmt -->
  <mat-error *ngIf="true">Pin is 3 digits long</mat-error>
  </mat-form-field>
  </div>
<button
  mat-raised-button
  color="primary"
  type="submit"
  [disabled]="cardForm.invalid"
  >
Aggiungi Carta
</button>
<button
  mat-button
  color="warn"
  type="button"
  (click)="handleAnnulla()"
  >
  <!-- [disabled]="!cardForm.dirty" -->
Annulla
</button>

</form>
<!-- <pre> {{cardForm?.value | json}} </pre> -->
</mat-card-content>
