/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
// @import "@angular/material/core/theming/_theming.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alb-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.alb-textfield {
  display: flex;
  // outline: 1px solid black;
  align-items: center;

  mat-icon {
    // flex-grow: 1;
    min-width: 30px;
  }
  mat-form-field {
    flex-grow: 1;
  }
  .main {
    flex-grow: 1;
  }
}

.alb-form {
  max-width: 400px;
  // min-width: 100px;
  margin: auto;
  // margin-top: 5%;
}

.alb-link {
  font-weight: bolder;
  // color: mat-color($primary);
}

.smaller {
  font-size: small;
}

.bg-sec {
  // background-color: aquamarine;
  // background-color: mat-color($primary);
}

.alb-in {
  color: green;
}
.alb-out {
  color: red;
}

.link-active {
  background-color: #3f51b56a !important;
  > * {
    color: white !important;
  }
}

.company-logo {
  margin: auto;
  display: flex;
  justify-content: space-around;
  // outline: 1px solid salmon;
  // height: 300%;
  > mat-icon {
    font-size: 300%;
    color: #3f51b5;
  }
}

// mat-list-item { }
